* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
#root {
  height: 100%;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content-app * {
  transition: all 0.2s ease-out;
}

.content-app {
  max-width: 1000px;
  min-width: 360px;
}

.content-app * {
  color: #ffffff;
}

.content-app img {
  box-shadow: 0 3px 20px #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content-app {
    width: 100%;
    max-width: 800px;
    /* background: #333; */
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-image .arrow {
    width: 150px;
    height: 150px;
  }

  .content-image .arrow img {
    width: 100%;
    border-radius: 50%;
  }

  .content-info {
    text-align: center;
    margin-top: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content-app {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-image .arrow {
    width: 300px;
    height: 300px;
  }

  .content-image .arrow img {
    width: 100%;
    border-radius: 50%;
  }

  .content-info {
    text-align: center;
    margin-top: 30px;
  }

  .content-info h1 {
    font-size: 3em;
  }
  .content-info h5 {
    font-size: 1.5em;
    font-weight: 400;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-app {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-image .arrow {
    width: 330px;
    height: 330px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-app {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content-info {
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .content-image .arrow {
    width: 330px;
    height: 330px;
  }

  .content-info h1 {
    font-size: 4em;
    font-weight: 400;
    font-weight: bold;
    margin-bottom: 0;
  }

  .content-info h5 {
    margin-top: 10px;
  }
}
