.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 3rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: var(--theme-foreground);
}

.description {
  margin: 3rem 0 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: var(--theme-code-background);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .title {
    margin: 3rem 0 0 0;
    line-height: 1.15;
    font-size: 2rem;
  }
  .main {
    margin-top: -60px;
  }
}

/*======= */
.myImageContainer {
  height: 108px;
  width: 108px;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.1);
  background: var(--theme-image-container);
}
.myImage {
  object-fit: cover;
  border-radius: 50%;
}
.codeString {
  color: var(--code-string-color);
}
.codeFunctionName {
  color: var(--code-function-name-color);
}
.codeParentheses {
  color: var(--code-parentheses-color);
}
.codeWhite {
  color: var(--code-white-color);
}
